Sprawozdanie 2: Łączenie z bazą danych i instrukcja SELECT
<br>
Autor: Michał Badura, numer albumu: 407049

In [65]:
import psycopg2 as pg
import pandas as pd

connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

category = pd.read_sql('select * from category',con=connection)
print(category)

    category_id         name         last_update
0             1       Action 2006-02-15 09:46:27
1             2    Animation 2006-02-15 09:46:27
2             3     Children 2006-02-15 09:46:27
3             4     Classics 2006-02-15 09:46:27
4             5       Comedy 2006-02-15 09:46:27
5             6  Documentary 2006-02-15 09:46:27
6             7        Drama 2006-02-15 09:46:27
7             8       Family 2006-02-15 09:46:27
8             9      Foreign 2006-02-15 09:46:27
9            10        Games 2006-02-15 09:46:27
10           11       Horror 2006-02-15 09:46:27
11           12        Music 2006-02-15 09:46:27
12           13          New 2006-02-15 09:46:27
13           14       Sci-Fi 2006-02-15 09:46:27
14           15       Sports 2006-02-15 09:46:27
15           16       Travel 2006-02-15 09:46:27

Ćwiczenie 1:

In [66]:
number = pd.read_sql('select count(name) from category',con=connection)

print("Liczba kategorii filmów wynosi: \n {}".format(number))

Liczba kategorii filmów wynosi:
    count
0     16

Ćwiczenie 2:

In [67]:

alphabetical = pd.read_sql('select name '
                           'from category '
                           'order by name ASC;',con=connection)
print(alphabetical)

           name
0        Action
1     Animation
2      Children
3      Classics
4        Comedy
5   Documentary
6         Drama
7        Family
8       Foreign
9         Games
10       Horror
11        Music
12          New
13       Sci-Fi
14       Sports
15       Travel

Ćwiczenie 3:

oldest = pd.read_sql('select title '
                     'from film '
                     'order by release_year ASC '
                        'limit 1' , con=connection)

youngest = pd.read_sql('select title '
                     'from film '
                     'order by release_year DESC '
                        'limit 1', con=connection)
print("Najstarszy film: {} \n".format(oldest))
print("Najmłodszy film: {} \n".format(youngest))

Ćwiczenie 4:

In [68]:
rental_between = pd.read_sql('select * '
                             'from rental '
                             'where ((rental_date <= "2005-08-01") and (rental_date >= "2005-07-01")), con=connection)
print(rental_between)

SyntaxError: EOL while scanning string literal (<ipython-input-68-2a888790b624>, line 3)

Ćwiczenie 5:

Ćwiczenie 6:

In [71]:
biggest_payment = pd.read_sql('select * '
                              'from payment '
                              'order by amount DESC '
                              'limit 1', con=connection)
print(biggest_payment)

   payment_id  customer_id  staff_id  rental_id  amount  \
0       20403          362         1      14759   11.99

                payment_date
0 2007-03-21 21:57:24.996577

Ćwiczenie 7:

In [ ]:
client = pd.read_sql()